.flex-container, .flex-container-header{
    display: flex;
    width: 100%;
    flex:{
        wrap: wrap;
        direction: row;
    }//End flex
    hr{
        width: 0%;
    }//End hr
    .header{
        flex: 1;
    }//End heaer
    .left{
        @include alignAll(left);
    }
    .right{
        @include alignAll(right);
    }//End right
}//End

.flex-container-header{
    width: 100%;
}//End


@media only screen and (max-width: 740px){
    .flex-container-header{
        @include alignAll(left);
        flex-direction: column;
        hr{
            width: 90%;
        }//End hr
    }//End
}//End