.card-deck{
    .card{
        background: $darkDesatBlue;
        text-align: center;
        .card-title{
            p{
                font-size: 14px;
            }//End p
            .card-img{
                height: 20px;
                width: 20px;
            }//End img
        }//End title
    }//End

    #facebook{
        @include border($facebook);
    }//End

    #twitter{
        @include border($twitter);
    }//End

    #instagram{
        border:{
            top: 5px solid transparent;
            right: none;
            left: none;
            bottom: none;
            image: $instagram;
            image-slice: 1;
        }//End
    }//End

    #youtube{
        @include border($youtube);
    }//End
}//End