@import url(https://fonts.google.com/specimen/Inter);
:root {
  --dark-background: #1e202a;
  --dark-background-top: darkBlueTop;
  --dark-card: #252a41;
  --dark-primary-text: #8b97c6;
  --dark-secondary-text: white;
  --light-background: white;
  --light-background-top: #f5f7ff;
  --light-card: #f0f2fa;
  --light-primary-text: #63687e;
  --light-secondary-text: #1e202a;
}

p {
  color: white;
}
p .light {
  color: #1e202a;
}

.primary-text {
  font-weight: 400;
  font-size: 14px;
}
.primary-text .light {
  color: #63687e;
  font-weight: 400;
  font-size: 14px;
}

.primary-green {
  color: #1db489;
}
.primary-green .right {
  align-content: right;
  justify-content: right;
  text-align: right;
}

.primary-red {
  color: #dc414c;
}
.primary-red .right {
  text-align: right;
}

.card-deck .card {
  background: #252a41;
  text-align: center;
}
.card-deck .card .card-title p {
  font-size: 14px;
}
.card-deck .card .card-title .card-img {
  height: 20px;
  width: 20px;
}
.card-deck #facebook {
  border-top: 5px solid #198ff5;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.card-deck #twitter {
  border-top: 5px solid #1ca0f2;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.card-deck #instagram {
  border-top: 5px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-image: linear-gradient(#fdc468, #df4996);
  border-image-slice: 4;
}
.card-deck #youtube {
  border-top: 5px solid #c4032a;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#378fe6, #3eda82);
  border-radius: 20px;
}
.slider:before {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background: #1e202a;
  border-radius: 24px;
}
.slider .round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background: #aeb3cb;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -o-transform: translateX(26px);
  -moz-transform: translateX(26px);
  transform: translateX(26px);
}
input:focus + .slider {
  box-shadow: #aeb3cb;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
}

section {
  margin: 5px;
  padding: 10px;
}

.flex-container, .flex-container-header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-container hr, .flex-container-header hr {
  width: 0%;
}
.flex-container .header, .flex-container-header .header {
  flex: 1;
}
.flex-container .left, .flex-container-header .left {
  align-content: left;
  justify-content: left;
  text-align: left;
}
.flex-container .right, .flex-container-header .right {
  align-content: right;
  justify-content: right;
  text-align: right;
}

.flex-container-header {
  width: 100%;
}

@media only screen and (max-width: 740px) {
  .flex-container-header {
    align-content: left;
    justify-content: left;
    text-align: left;
    flex-direction: column;
  }
  .flex-container-header hr {
    width: 90%;
  }
}
.dark {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  background: var(--dark-background);
}
.dark .flex-container-header {
  background: var(--dark-background-top);
}
.dark .card {
  background: var(--dark-card);
}
.dark .primary-text {
  color: var(--dark-primary-text);
}
.dark hr {
  color: var(--light-secondary-text);
}
.dark .secondary-text {
  color: var(--dark-secondary-text);
}
.dark p {
  color: var(--dark-secondary-text);
}

.light {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  background: var(--light-background);
}
.light .flex-container-header {
  background: var(--light-background-top);
}
.light .card {
  background: var(--light-card);
}
.light .primary-text {
  color: var(--light-primary-text);
}
.light hr {
  color: var(--light-secondary-text);
}
.light p {
  color: var(--light-secondary-text);
}
.light .secondary-text {
  color: var(--light-secondary-text);
}

/*# sourceMappingURL=main.css.map */
