@import 'variables';

:export{
//Primary colors
limeGreen: $limeGreen;
brightRed: $brightRed;
white: $white;

facebook: $facebook;
twitter: $twitter;
instagram: $instagram;
youtube: $youtube;

//Dark Theme
toggleDark: $toggleDark;
darkBlue: $darkBlue;
darkBlueTop: $darkBlueTop;
darkDesatBlue: $darkDesatBlue;
desatBlue: $desatBlue;

//Light Theme
toggleLight: $toggleLight;
paleBlue: $paleBlue;
lightGrayBlue: $lightGrayBlue;
darkGrayBlue: $darkGrayBlue;
veryDarkBlue: $veryDarkBlue;
}
