@import url(https://fonts.google.com/specimen/Inter);

$inter: "Inter, rsms";

//Size
$bodyFont: 14px;

//Weight
$regular: 400;
$bold: 700;

p{
    color: $white;
    .light{
        color: $veryDarkBlue;
    }//End light
}

.primary-text{
    font:{
        weight: $regular;
        size: 14px;
    }//End
    .light{
        color: $darkGrayBlue;
        font:{
            weight: $regular;
            size: 14px;
        }//End
    }//End light
}//End primary

.secondary-text{
}//End secondary

.primary-green{
    color: $limeGreen;
    .right{
        @include alignAll(right);
    }//End right
}//End

.primary-red{
    color: $brightRed;
    .right{
        text-align: right;
    }
}//End